* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../img/star1.jpg');
  background-size: cover;
  color: white;
}

header h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 5rem;
  background: linear-gradient(to right, rgb(109, 243, 109), rgb(100, 130, 238));
  -webkit-background-clip: text;
  color: transparent;
  font-size: clamp(2.5rem,5vw,3.5rem);
}

#root {
  min-width: 21rem;
  min-height: 21rem;
  background: linear-gradient(to bottom, rgb(130, 238, 130), rgb(130, 130, 238));
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 15%);
  border-radius: 12px;
  padding: 3rem 4rem;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.8),
    0 8px 16px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#location{
  font-size: xx-large;
}

.weather_icon {
  width: 150px;
}

.current_temp {
  font-size: 3.5rem;

}

.temps_container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1em 0;
}

.toggleBtn{
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: rgb(99, 187, 228);
  color:white;
  border: none;
  outline: none;
  border-radius: 333px;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
  &:hover{
    background-color: rgb(119, 194, 230);
  }
}